<h3>Add Learning Entry</h3>
<form [formGroup]="this.form" (ngSubmit)="onSubmit()">

  <div *ngIf="$goal | async as g">
    Goal: <strong>{{ g.goalText }} </strong>
  </div>
  <br>
  <select name="type" formControlName="type" id="type">
    <option *ngFor="let type of types; let i = index;" value="{{type}}">{{type}}</option>
  </select>
  <br>

  <!-- <textarea cols="40" rows="5" placeholder="Learning Entry Text" formControlName="text" type="text"
    class="input-field col s12"></textarea> -->

  <ckeditor [editor]="Editor" formControlName="text"></ckeditor>


  <button type="submit" class="waves-effect waves-light btn col s12" [disabled]="!this.form.valid">
    Save
  </button>
  <button type="button" [routerLink]="['/goals']">Cancel</button>

</form>