<h3>Add Learning Entry</h3>
<form [formGroup]="this.form" (ngSubmit)="onSubmit()" >

  <select name="type" formControlName="type" id="type">
    <option *ngFor="let type of types; let i = index;" value="{{type}}">{{type}}</option>
  </select>
  <br>

  <textarea cols="25" rows="5" placeholder="Learning Entry Text" formControlName="text" type="text"
    class="input-field col s12"></textarea>

  <button type="submit" class="waves-effect waves-light btn col s12" [disabled]="!this.form.valid">
    Submit
  </button>

</form>